@font-face {
font-family: 'Equestria_Cyrillic';
src: url('../fonts/Equestria_Cyrillic.ttf');
src: url('../fonts/Equestria_Cyrillic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Shadow-of-Xizor';
src: url('../fonts/Shadow-of-Xizor.ttf');
src: url('../fonts/Shadow-of-Xizor.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}